importFrom(mclust, Mclust, estep, mstep, mclustBIC, mclust2Dplot, mvn2plot, map)
importFrom(amap, hcluster)
importFrom(impute,impute.knn)
import(survcomp)
import(biomaRt)
import(iC10)
import(AIMS)
import(limma)
importFrom("graphics", "boxplot", "legend", "par", "persp", "points")
importFrom("stats", "complete.cases", "cor", "cutree", "dist",
  "median", "p.adjust", "pnorm", "pt", "qnorm", "quantile",
  "sd", "t.test")
importFrom("utils", "read.csv", "read.table", "write.table")
exportPattern("^[^\\.]")
